node_modules
.git
.gitignore
.env
.env.*
logs
*.log

# desarrollo
tests
__tests__
scripts
migrations
docs

# assets grandes innecesarios
*.sql
*.md
*.pdf
*.docx

# frontend si existe
../spi_front
../frontend