<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Plantilla_Validacion_SPI_AUTOMATIZABLE</Template><TotalTime>2</TotalTime><Pages>61</Pages><Words>15121</Words><Characters>83170</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>693</Lines><Paragraphs>196</Paragraphs><ScaleCrop>false</ScaleCrop><Company></Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>98095</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>