# =============================
# PRODUCCIÓN LAN (iPhone / red)
# =============================
https://spi-dev.fam-project.com {

	tls internal

	handle /ws* {
		respond 404
	}

	handle /api/* {
		reverse_proxy http://localhost:3000
	}

	handle {
		root * spi_front/build
		try_files {path} {path}/ /index.html
		file_server
	}
}

http://spi-dev.fam-project.com {
	redir https://{host}{uri} permanent
}


# =============================
# LOCAL PC testing
# =============================
http://localhost:8080 {

	handle /api/* {
		reverse_proxy http://localhost:3000
	}

	handle {
		root * spi_front/build
		try_files {path} {path}/ /index.html
		file_server
	}
}
